<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lj.business.cf.dao.IWorkTaskGroupDao" >
  <resultMap id="BaseResultMap" type="com.lj.business.cf.domain.WorkTaskGroup" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR" />
    <result column="WTL_CODE" property="wtlCode" jdbcType="VARCHAR" />
    <result column="TASK_NAME" property="taskName" jdbcType="VARCHAR" />
    <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
   <resultMap id="findWorkTaskGroupPageResultMap" type="com.lj.business.cf.dto.workTaskGroup.FindWorkTaskGroupPageReturn" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR" />
    <result column="WTL_CODE" property="wtlCode" jdbcType="VARCHAR" />
    <result column="TASK_NAME" property="taskName" jdbcType="VARCHAR" />
    <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, MERCHANT_NO, WTL_CODE, TASK_NAME, GROUP_NAME, CREATE_ID, CREATE_DATE
  </sql>
    <sql id="findWorkTaskGroupPage_condition" >
  	 <where>
      <if test="merchantNo != null" >
        and  MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR}
      </if>
       <if test="taskName != null and memberNameGm != ''" >
        and  TASK_NAME like CONCAT('%',#{taskName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="createDate != null">
		<![CDATA[and CREATE_DATE >= #{createDate}]]>
	 </if>
	 <if test="createDate != null"> 
		<![CDATA[and CREATE_DATE <= #{createDateEnd}]]>
	 </if>
      </where>
  </sql>
       <!-- 分页查询 -->
   <select id="findWorkTaskGroupPage" resultMap="findWorkTaskGroupPageResultMap" parameterType="com.lj.business.cf.dto.workTaskGroup.FindWorkTaskGroupPage" >
  SELECT     CODE, MERCHANT_NO, WTL_CODE, TASK_NAME, GROUP_NAME, CREATE_ID, CREATE_DATE
  FROM work_task_group 
 	 <include refid="findWorkTaskGroupPage_condition" />
   order by code ${sortDir}
   limit ${start} , ${limit}
  </select>
  
  <select id="findWorkTaskGroupPageCount" resultType="int" parameterType="com.lj.business.cf.dto.workTaskGroup.FindWorkTaskGroupPage" >
    select  count(*)
     FROM work_task_group 
     <include refid="findWorkTaskGroupPage_condition" />     
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from work_task_group
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from work_task_group
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lj.business.cf.domain.WorkTaskGroup" >
    insert into work_task_group (CODE, MERCHANT_NO, WTL_CODE, TASK_NAME, GROUP_NAME, CREATE_ID, CREATE_DATE)
    values (#{code,jdbcType=VARCHAR}, #{merchantNo,jdbcType=VARCHAR}, #{wtlCode,jdbcType=VARCHAR}, 
      #{taskName,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, 
      NOW())
  </insert>
  <insert id="insertSelective" parameterType="com.lj.business.cf.domain.WorkTaskGroup" >
    insert into work_task_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        CODE,
      </if>
      <if test="merchantNo != null" >
        MERCHANT_NO,
      </if>
      <if test="wtlCode != null" >
        WTL_CODE,
      </if>
      <if test="taskName != null" >
        TASK_NAME,
      </if>
      <if test="groupName != null" >
        GROUP_NAME,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
        CREATE_DATE,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="wtlCode != null" >
        #{wtlCode,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
        NOW(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lj.business.cf.domain.WorkTaskGroup" >
    update work_task_group
    <set >
      <if test="merchantNo != null" >
        MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="wtlCode != null" >
        WTL_CODE = #{wtlCode,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        TASK_NAME = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lj.business.cf.domain.WorkTaskGroup" >
    update work_task_group
    set MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      WTL_CODE = #{wtlCode,jdbcType=VARCHAR},
      TASK_NAME = #{taskName,jdbcType=VARCHAR},
      GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
</mapper>