<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lj.business.member.dao.IGuidMemberIntegralDayDao" >
  <resultMap id="BaseResultMap" type="com.lj.business.member.domain.GuidMemberIntegralDay" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR" />
    <result column="MERCHANT_NAME" property="merchantName" jdbcType="VARCHAR" />
    <result column="MEMBER_NO" property="memberNo" jdbcType="VARCHAR" />
    <result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR" />
    <result column="SHOP_NO" property="shopNo" jdbcType="VARCHAR" />
    <result column="SHOP_NAME" property="shopName" jdbcType="VARCHAR" />
    <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
    <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
    <result column="INTEGRAL_SCORE" property="integralScore" jdbcType="DECIMAL" />
    <result column="DAY_ST" property="daySt" jdbcType="DATE" />
    <result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="INTEGRAL_TYPE" property="integralType" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="FindByDayStResultMap" type="com.lj.business.member.dto.guidMemberIntegralDay.FindGuidMemberIntegralDayReturn" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR" />
    <result column="MERCHANT_NAME" property="merchantName" jdbcType="VARCHAR" />
    <result column="MEMBER_NO" property="memberNo" jdbcType="VARCHAR" />
    <result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR" />
    <result column="SHOP_NO" property="shopNo" jdbcType="VARCHAR" />
    <result column="SHOP_NAME" property="shopName" jdbcType="VARCHAR" />
    <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
    <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
    <result column="INTEGRAL_SCORE" property="integralScore" jdbcType="DECIMAL" />
    <result column="DAY_ST" property="daySt" jdbcType="DATE" />
    <result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
     <result column="INTEGRAL_TYPE" property="integralType" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    CODE, MERCHANT_NO, MERCHANT_NAME, MEMBER_NO, MEMBER_NAME, SHOP_NO, SHOP_NAME, AREA_CODE, 
    AREA_NAME, INTEGRAL_SCORE, DAY_ST, UPDATE_ID, UPDATE_DATE, CREATE_ID, CREATE_DATE,INTEGRAL_TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from guid_member_integral_day
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from guid_member_integral_day
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lj.business.member.domain.GuidMemberIntegralDay" >
    insert into guid_member_integral_day (CODE, MERCHANT_NO, MERCHANT_NAME, 
      MEMBER_NO, MEMBER_NAME, SHOP_NO, 
      SHOP_NAME, AREA_CODE, AREA_NAME, 
      INTEGRAL_SCORE, DAY_ST, UPDATE_ID, 
      UPDATE_DATE, CREATE_ID, CREATE_DATE,INTEGRAL_TYPE
      )
    values (#{code,jdbcType=VARCHAR}, #{merchantNo,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, 
      #{memberNo,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}, #{shopNo,jdbcType=VARCHAR}, 
      #{shopName,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR}, 
      #{integralScore,jdbcType=DECIMAL}, #{daySt,jdbcType=DATE}, #{updateId,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{createId,jdbcType=VARCHAR}, NOW(),#{integralType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lj.business.member.domain.GuidMemberIntegralDay" >
    insert into guid_member_integral_day
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        CODE,
      </if>
      <if test="merchantNo != null" >
        MERCHANT_NO,
      </if>
      <if test="merchantName != null" >
        MERCHANT_NAME,
      </if>
      <if test="memberNo != null" >
        MEMBER_NO,
      </if>
      <if test="memberName != null" >
        MEMBER_NAME,
      </if>
      <if test="shopNo != null" >
        SHOP_NO,
      </if>
      <if test="shopName != null" >
        SHOP_NAME,
      </if>
      <if test="areaCode != null" >
        AREA_CODE,
      </if>
      <if test="areaName != null" >
        AREA_NAME,
      </if>
      <if test="integralScore != null" >
        INTEGRAL_SCORE,
      </if>
      <if test="daySt != null" >
        DAY_ST,
      </if>
      <if test="updateId != null" >
        UPDATE_ID,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
        CREATE_DATE,
       <if test="integralType != null" >
        INTEGRAL_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="memberNo != null" >
        #{memberNo,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="shopNo != null" >
        #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="integralScore != null" >
        #{integralScore,jdbcType=DECIMAL},
      </if>
      <if test="daySt != null" >
        #{daySt,jdbcType=DATE},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
        NOW(),
       <if test="integralType != null" >
        #{integralType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lj.business.member.domain.GuidMemberIntegralDay" >
    update guid_member_integral_day
    <set >
      <if test="merchantNo != null" >
        MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="memberNo != null" >
        MEMBER_NO = #{memberNo,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="shopNo != null" >
        SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        AREA_NAME = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="integralScore != null" >
        INTEGRAL_SCORE = #{integralScore,jdbcType=DECIMAL},
      </if>
      <if test="daySt != null" >
        DAY_ST = #{daySt,jdbcType=DATE},
      </if>
      <if test="updateId != null" >
        UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="integralType != null" >
        INTEGRAL_TYPE = #{integralType,jdbcType=VARCHAR},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.lj.business.member.domain.GuidMemberIntegralDay" >
    update guid_member_integral_day
    set MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      MEMBER_NO = #{memberNo,jdbcType=VARCHAR},
      MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      AREA_NAME = #{areaName,jdbcType=VARCHAR},
      INTEGRAL_SCORE = #{integralScore,jdbcType=DECIMAL},
      DAY_ST = #{daySt,jdbcType=DATE},
      UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      INTEGRAL_TYPE = #{integralType,jdbcType=VARCHAR}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  
  <select id="findByDaySt" resultMap="FindByDayStResultMap" parameterType="com.lj.business.member.dto.guidMemberIntegralDay.FindGuidMemberIntegralDay">
  	select 
  	 <include refid="Base_Column_List" />
    from guid_member_integral_day
    where MEMBER_NO = #{memberNo,jdbcType=VARCHAR}
          AND DAY_ST = #{daySt,jdbcType=DATE}
          AND INTEGRAL_TYPE = #{integralType,jdbcType=VARCHAR}
     limit 1
  </select>
  
   <select id="findByDayStList" resultMap="FindByDayStResultMap" parameterType="com.lj.business.member.dto.guidMemberIntegralDay.FindGuidMemberIntegralDay">
  	select 
  	 <include refid="Base_Column_List" />
    from guid_member_integral_day
    where MEMBER_NO = #{memberNo,jdbcType=VARCHAR}
          AND DAY_ST = #{daySt,jdbcType=DATE}
  </select>
  
  <!-- update by 杨杰   根据用户编号获取当天的总分数 -->
  <select id="findMemberScoreSum" resultType="java.lang.Double" parameterType="com.lj.business.member.dto.guidMemberIntegralDay.FindGuidMemberIntegralDay">
  	select IFNULL(sum(INTEGRAL_SCORE),0) from guid_member_integral_day where MEMBER_NO = #{memberNo,jdbcType=VARCHAR} AND DAY_ST = curdate()
  </select>
</mapper>